.my-list .spe .am-list-extra {
  flex-basis: initial;
}
.list-left-white {
  margin-left: 0.5em;
}

.list-tags {
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.tag-yellow {
  color: white;
  background: rgb(177, 177, 0);
}
.tag-red {
  color: white;
  background: rgb(150, 0, 0);
}

.am-list {
  width:100%;
}

.am-list-item img {
  width: 60px;
  height: auto;
  max-height: 50%;
}
.am-list-item iframe {
  display: inline-block;
  width: 80px;
  height: 80%;
  max-height: 50%;
  vertical-align: middle;
  padding: 10px 0;
}